.navbar-custom {
  background-color: #df600d;
}

.navbar-custom .navbar-brand {
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-custom .nav-link {
  color: white;
}

.navbar-custom .nav-link:hover {
  color: white;
}